.crop-main {
    width: 600px;
    height: 300px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAAHnlligAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHJJREFUeNpi+P///5EjRxiAGMgCCCAGFB5AADGCRBgYjh49CiRZIJS1tTWQBAggFBkmBiSAogxFBiCAoHogAKIKAlBUYTELAiAmEtABEECk20G6BOmuIl0CIMBQ/IEMkO0myiSSraaaBhZcbkUOs0HuBwARxT7aD6kRXAAAAABJRU5ErkJggg==') repeat;
    -webkit-box-shadow: inset 400px 400px 400px rgba(0, 0, 0, 0.5);
    box-shadow: inset 400px 400px 400px rgba(0, 0, 0, 0.5);
}

.crop-main .crop-img { position: absolute; z-index: 5999; }

.crop-main .crop-container {
    overflow: hidden;
    position: relative;
}

.crop-main .crop-container:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5999;
}

.crop-main .crop-overlay {
    position: relative;
    cursor: move;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6000;
}

.border {
    z-index: 6000;
    position: absolute;
    background-color: #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.crop-controlls {
    background: #000;
    width: 100%;
    height: 26px;
    position: absolute;
    z-index: 7000;
    bottom: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: opacity .25s linear;
    -moz-transition: opacity .25s linear;
    -webkit-transition: opacity .25s linear;
}
.crop-container:hover .crop-controlls {
    opacity: .6;
    filter: alpha(opacity=60);
}

.crop-controlls span {
    display: block;
    float: left;
    color: #fff;
    font-size: 11px;
    margin: 7px 0 0 5px;
}
.zoom-in,
.zoom-out {
    display: block;
    float: right;
    margin: 4px 4px 0 0;
    background: #fff;
    color: #000;
    border-radius: 9px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.zoom-in::after {
    content: "+";
}
.zoom-out::after {
    vertical-align: top;
    line-height: 14px;
    font-size: 22px;
    margin-left: -2px;
    content: "-";
}
